<div id="section3">
    <div id="titulo">
        <img src="./../../../assets/img/like1.jpg" alt="" id="foto1">
        <img src="./../../../assets/img/like.jpeg" alt="" id="foto2">
        <p id="contador">A 396 personas les gusta</p>
    </div>
    <div class="row">
        <img src="./../../../assets/img/img1.jpg">
        <img src="./../../../assets/img/img2.jpg">
        <img src="./../../../assets/img/img3.jpg">
    </div>
    <div class="row">
        <img src="./../../../assets/img/img4.jpg">
        <img src="./../../../assets/img/img5.jpg">
        <img src="./../../../assets/img/img6.jpg">
    </div>
    <div class="row">
        <img src="./../../../assets/img/img2.jpg">
        <img src="./../../../assets/img/img4.jpg">
        <img src="./../../../assets/img/img6.jpg">
    </div>
    <div class="row">
        <img src="./../../../assets/img/fb.png" alt="" id="fb">
    </div>
</div>