<mat-spinner *ngIf="loading"></mat-spinner>

<div *ngIf="!loading" class="fadeIn">
    <mat-grid-list cols="3" rowHeight="45h">
        <mat-grid-tile *ngFor="let pokemonRecibido of ArraysPokemon">
            <app-cards [pokemonInput]="pokemonRecibido"></app-cards>
        </mat-grid-tile>
    </mat-grid-list>

    <div class="pagination">
        <mat-icon>arrow_left</mat-icon>
        <p>{{indicePaginacion}}</p>
        <mat-icon (click)="paginationRight()">arrow_right</mat-icon>
    </div>
</div>