mat-grid-list {
    width: 100vw;
}

.pagination {
    display: flex;
    width: 100%;
    background: #ccc;
    justify-content: space-around;
}

.pagination p {
    line-height: 70px;
    font-size: 20px;
}

mat-icon {
    font-size: 70px;
    height: 100%;
    cursor: pointer;
}

mat-spinner {
    margin: 20px auto;
}

.fadeIn {
    animation: animacion .5s easy-in-out forwards;
}

@keyframes animacion {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}