<mat-card class="card">
    <mat-card-header>
        <mat-card-title>{{pokemonInput.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="pokemonInput.sprites.front_default" [alt]="Photo of a Shiba Inu" />
    <mat-card-content>
        <mat-chip-list aria-label="Fish selection">
            <mat-chip *ngFor="let type of pokemonInput.types">
                {{type.type.name}}
            </mat-chip>
        </mat-chip-list>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="GoToDescription()" mat-stroked-button color="primary">Ver mas..</button>
    </mat-card-actions>
</mat-card>