<div id="section2">
    <div id="logoSection2">F<span>O</span>RUM</div>
    <div id="logoSection2Invita">Te invita</div>
    <div id="circuloSection2"></div>
    <div class="textoLogo2">CÍRCULO</div>
    <div class="textologo22">Emprendedores</div>
    <p class="texto1">Si crees que tu idea, empresa o negocio es <br>innovador, envanos una breve reseña a:<br> contacto@revistaforum.com y podras ser <br>publicado en forma exclusiva en Revista Forum</p>
    <p class="texto2">REVISTA FORUM</p>
    <p class="texto3">La revista de negocios de la region</p>
</div>