<div class="contenedor">

    <div class="back-arrow" (click)="IrHome()">
        <img src="../../../assets/img/espalda.png" alt="">
    </div>

    <div class="contenedorBuscador">
        <h2>Buscador de Ciudades</h2>


        <div class="inputBuscador">
            <input #inputCiudad type="text" placeholder="Buscar Ciudad">
            <span><img src="../../../assets/img/buscar.png"></span>
        </div>

        <p *ngIf="!MostrarTarjeta" class="texto">Selecciona una Ciudad</p>

        <app-cards-weather *ngIf="MostrarTarjeta" [climaFiltradoRecibido]="climaFiltrado" [mostrarBoton]="true"></app-cards-weather>
    </div>
</div>